body{
    background-image: URL(https://thumbs.dreamstime.com/z/comida-r%C3%BAstica-en-fondo-de-madera-del-vintage-55811669.jpg);
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}
img{
    width: 200px;
    height: auto;
    margin:auto;
    display: block;
    border-radius: 15px; ;
}
.thirdDiv{
    width: 500px;
    height: 600px;
    background: rgb(180, 178, 178);
    padding:50px;
    border:1px solid grey;
}
.divclass{
    text-align: center;
}
.spanId{
    font-size:18px;
    margin:50px auto;
}